<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Linking Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Totally Sick Burger Menu</title>
</head>

<body>
    <img src="/assets/img/hamburger.png" width="400px" id="cute_burger">

    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© Dakoda Greaves</span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/xanimo">Reference Work</a>
            </div>
        </div>
    </footer>
</body>
</html>